.wp-block-image {
  img {
    height: auto;
  }

  &.is-style-absolute-to-bottom {
    position: relative;
    margin: 0 0 30px;

    img {
      position: absolute;
      bottom: 0;
      max-width: 100%;
    }
  }

  &.is-style-icon-with-text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    .aligncenter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      border: 4px solid $primary;
      padding: 5px;
      -webkit-box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.16);
      box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.16);
      background: $white;
      -o-object-fit: contain;
      object-fit: contain;
      z-index: 1;
    }

    figcaption {
      //min-height: 75px;
      //display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      background: $blue;
      color: #fff;
      padding: 20px 30px 20px 80px;
      border-radius: 0 100px 100px 0;
      margin: 0 0 0 -50px;
      font-weight: 500;
      width: 450px;
      max-width: 80%;
      line-height: 1.08;
    }

    &.wide {
      figcaption {
        width: 600px;
      }
    }
  }
}

.wp-admin {
  .wp-block-image {
    &.is-style-caption-over-image {
      a {
        &::after {
          display: none;
        }
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .wp-block-image {
    &.is-style-icon-with-text {

      img {
        width: 110px;
        height: 110px;
        padding: 5px;
        border: 2px solid $primary;
      }

      figcaption {
        padding: 15px 20px 15px 60px;
        min-height: auto;
        font-size: 16px;
      }

      &.wide {
        .aligncenter {
          margin-left: 0;
          width: 100%;
        }

        figcaption {
          width: 360px;
          max-width: 80%;
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .wp-block-image {
    &.is-style-icon-with-text {
      figcaption {
        line-height: 1.5;
        font-size: 15px;
      }
    }
  }
}