.join-regulora-section {
  #join-the-regulora-revolution {
    color: #fff;
  }
  .join-regulora-para,
  .req_astr {
    color: #fff;
  }
}

#efficacy {
  .wp-block-group__inner-container {
    h4 {
      color: #fff;
    }
  }

  #see-the-report a {
    color: #285873;
    background: #83d1ee;

    &:hover {
      background: #0c7ea2;
      color: #fff;
    }
  }

  .wp-block-button__link {
    color: #285873;
    background: #83d1ee;

    &:hover {
      background: #0c7ea2;
      color: #fff;
    }
  }
}


/*      HERO SECTION      */
#home {
  .hero-title-colm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    p,
    h1 {
      margin: 0;
    }
    h1 {
      color: $blue;
    }
  }
}

/*   END   HERO SECTION      */

/*      HOW REGULORA SECTION     */
#how-it-works {
  background: $secondary;


}

/*   END  HOW REGULORA SECTION     */



/*      TREATMENT SECTION     */


/*   END   TREATMENT SECTION     */





/*
@include media-breakpoint-down(md) {
  #efficacy {
    .wp-block-group__inner-container {
      h4 {
        color: #fff;
      }
    }
    #see-the-report a {
      color: #285873 !important;
      background: #83d1ee !important;
      &:hover {
        background: #0c7ea2;
        color: #fff;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #efficacy {
    .wp-block-group__inner-container {
      h4 {
        color: #fff;
      }
    }
    #see-the-report a {
      color: #285873 !important;
      background: #83d1ee !important;
      &:hover {
        background: #0c7ea2;
        color: #fff;
      }
    }
  }
}
*/

/*
#treatment {

}

.attorney-top-bio {
  margin-bottom: var(--block-vertical-distance-small);
  position: relative;

  .attorney-image {
    img {
      width: 100%;
      height: auto;
    }
  }

  .attorney-info {
    position: initial;
    padding-left: 60px;

    .name {
      display: flex;
      align-items: center;
    }

    .socials {
      margin: 0 0 6px 20px;
    }
  }
}

.attorneys-list {
  .attorney-item {
    margin: 32px 0;

    &:hover {
      picture img {
        @include image-hover;
      }

      .attorney-info {
        .title h2 {
          color: $secondary;
        }
      }
    }
  }

  .attorney-thumb {
    //display: flex;
    //align-items: center;
    //justify-content: center;
    width: 230px;
    height: 230px;
    overflow: hidden;
    margin-right: 13px;

    picture {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 230px;
      height: 230px;
      overflow: hidden;
      flex-direction: column;
    }

    img {
      min-width: 100%;
      min-height: 100%;
      width: auto;
      max-width: initial;
      transition: all 0.3s;
    }
  }

  .attorney-info {
    .position {
      margin-bottom: 0;
    }

    .title {
      margin-bottom: 0;

      h2 {
        transition: all 0.4s;
      }

      .socials {
        padding-left: 5px;
      }
    }

    .contacts {
      margin-bottom: 10px;
      margin-top: 10px;
      z-index: 1;

      svg {
        margin-right: 10px;
        fill: $primary;
      }
    }
  }
}

.news-item {
  margin-bottom: var(--block-vertical-distance-small);

  &:hover {
    a {
      color: $secondary;
    }

    h3 {
      color: $secondary;
    }

    .is-style-link-with-arrow a {
      @include big-arrow-hover;
    }

    picture:not(.default-featured-image) img {
      @include image-hover;
    }
  }

  picture {
    @include image-size(61.66%);

    margin-bottom: 18px;
  }
}

.practice-archive-page {
  h4 {
    margin-bottom: 40px;
  }
}

.search-results {
  .search-lists {
    .post-type-block {
      margin-bottom: var(--block-vertical-distance-small);

      .key-contact-item {
        margin-bottom: var(--block-vertical-distance-small);

        hr {
          margin-top: 0;
          color: #ccc;
        }

        .contact-item {
          margin-bottom: 15px;
        }
      }
    }
  }
}

.error404 {
  .addtoany_share_save_container {
    display: none !important;
  }
}

@include media-breakpoint-down(lg) {
  .attorney-top-bio {
    .attorney-image {
      margin-bottom: 20px;
    }


    .attorney-info {
      padding-left: 15px;

      .socials {
        margin: 0 0 -6px 10px;
      }

      .description {
        border-bottom: 1px solid $gray;
        padding-bottom: var(--block-vertical-distance-small);
        padding-top: 20px;
      }
    }
  }


  .attorneys-list {
    .attorney-item {
      margin: 32px 0 var(--block-vertical-distance-small);
      padding-bottom: var(--block-vertical-distance-small);
      border-bottom: 1px solid $gray;

      &:last-child {
        padding-bottom: 0;
        border: none;
      }
    }

    .attorney-thumb {
      @include image-size($size:100%);

      width: 100%;
    }

    .attorney-info {
      .position {
        margin: 29px 0 5px;
      }

      .title .socials {
        padding-left: 0;
        margin-left: -2px;
      }

      .contacts {
        display: block;
        margin: 20px 0 10px;

        .contact-item {
          padding: 0;
          margin-bottom: 15px;
        }
      }
    }
  }

  .practice-item h4{
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}
*/

@include media-breakpoint-down(lg) {
  #main-content .wp-block-group:first-of-type {
    padding: 0 0 20px !important;
  }
}
