.join-regulora-section {
  #join-the-regulora-revolution {
    color: #fff;
  }
  .join-regulora-para,
  .req_astr {
    color: #fff;
  }
}

#efficacy {
  .wp-block-group__inner-container {
    h4 {
      color: #fff;
    }
  }

  #see-the-report a {
    color: #285873;
    background: #83d1ee;

    &:hover {
      background: #0c7ea2;
      color: #fff;
    }
  }

  .wp-block-button__link {
    color: #285873;
    background: #83d1ee;

    &:hover {
      background: #0c7ea2;
      color: #fff;
    }
  }
}


/*      HERO SECTION      */
#home {
  padding: 50px 0 0;

  .wp-block-image {
    margin: 0;
  }
  .hero-title-colm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0 0 40px;
    p,
    h1 {
      margin: 0;
    }
    h1 {
      color: $blue;
      font-size: 55px;
    }
  }
}

@include media-breakpoint-down(md) {
  #main-content .wp-block-columns {
    .hero-title-colm {
      -ms-flex-preferred-size: 25% !important;
      flex-basis: 25% !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  #main-content .wp-block-columns {
    .hero-title-colm {
      h1 {
        font-size: 40px;
      }

    }
  }
}

/*   END   HERO SECTION      */

/*      HOW REGULORA SECTION     */
#how-it-works {
  background: $secondary;

  .wp-block-column:last-child {
    figure {
      margin: 0;
    }
  }
}

#how-it-works {
    .wp-block-column:first-child {
      margin: 0 40px 0 0;
    }
  }

/*   END  HOW REGULORA SECTION     */

/*      TREATMENT SECTION     */
#treatment {
.treatment-left-side {
  margin: 0 60px 0 0;
  p {
    font-size: 20px;
  }
}
  .treatment-right-side {
  h4 {
    margin: 0 0 5px;
  }
    .percent-info {
      margin: 0 0 20px;
    }
    .quote-block {
      margin: 0 0 10px;
    }
  }
}
/*   END   TREATMENT SECTION     */

/*      ABOUT IBS SECTION     */
#about-ibs {

}
/*   END   ABOUT IBS SECTION     */

/*      FIGURE WITH TEXT      */
.is-style-icon-with-text.info-icon {
  img {
    width: 180px;
    height: 180px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
  figcaption {
    padding: 20px 30px 20px 50px;
    margin: 0 0 0 -60px;
  }

}



@include media-breakpoint-down(sm) {
  .is-style-icon-with-text.info-icon {
    img {
      width: 160px;
      height: 160px;
    }

    figcaption {
      padding: 10px 17px 10px 30px;
      margin: -10px 0 0 -40px;
      font-size: 13px;
    }
  }
}

/*    END   FIGURE WITH TEXT      */

@include media-breakpoint-down(lg) {
  #main-content .wp-block-group:first-of-type {
    padding: 0 0 20px !important;
  }
}
