.join-regulora-section {
  #join-the-regulora-revolution {
    color: #fff;
  }
  .join-regulora-para,
  .req_astr {
    color: #fff;
  }
}

#efficacy {
  .wp-block-group__inner-container {
    h4 {
      color: #fff;
    }
  }

  #see-the-report a {
    color: #285873;
    background: #83d1ee;

    &:hover {
      background: #0c7ea2;
      color: #fff;
    }
  }

  .wp-block-button__link {
    color: #285873;
    background: #83d1ee;

    &:hover {
      background: #0c7ea2;
      color: #fff;
    }
  }
}


/*      HERO SECTION      */
#home {
  padding: 50px 0 0;

  .wp-block-image {
    margin: 0;
  }
  .hero-title-colm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    p,
    h1 {
      margin: 0;
    }
    p {
      font-size: 20px;
    }
    h1 {
      color: $blue;
      font-size: 80px;
    }
  }
}

@include media-breakpoint-down(md) {
  #main-content .wp-block-columns {
    .hero-title-colm {
      -ms-flex-preferred-size: 25% !important;
      flex-basis: 25% !important;
    }
  }
}

@include media-breakpoint-down(sm) {
  #main-content .wp-block-columns {
    .hero-title-colm {
      h1 {
        font-size: 40px;
      }

    }
  }
}

/*   END   HERO SECTION      */

/*      FIRST SECTION     */
.wp-container-17 {
  margin-bottom: 0;
}
/*   END   FIRST SECTION     */

/*      HOW REGULORA SECTION     */
#how-it-works {
  background: $secondary;
}

#how-it-works {
  .wp-block-column:first-child {
    margin: 0 40px 0 0;
  }
  .is-style-icon-with-text.info-icon:nth-child(2),
  .is-style-icon-with-text.info-icon:nth-child(3) {
    margin-top: -20px !important;
  }
}
@include media-breakpoint-down(sm) {
  #how-it-works {
    .wp-block-column:first-child {
      margin: 0;
    }
  }

}

/*   END  HOW REGULORA SECTION     */



/*      TREATMENT SECTION     */
#treatment {
  .treatment-left-side {
    margin: 0 60px 0 0;
    p {
      font-size: 20px;
      line-height: 1.6rem;
    }
  }
  .treatment-right-side {
    h4 {
      margin: 0 0 5px;
    }
    .percent-info {
      margin: 0 0 20px;
    }
    .percent-txt {
      font-size: 16px;
    }
    .quote-block {
      margin: 0 0 10px;
    }
  }
}
@include media-breakpoint-down(sm) {
  #treatment {
    .treatment-left-side {
      margin: 0;
    }
  }
}
/*   END   TREATMENT SECTION     */

/*      ABOUT IBS SECTION     */
#about-ibs {
  .wp-container-32,
  .wp-container-36 {
    display: none;
  }
  .icons_first_row {
    margin: 0;
  }
}
/*   END   ABOUT IBS SECTION     */

/*      FIGURE WITH TEXT      */
.is-style-icon-with-text.info-icon {
  margin: 0 0 0 -20px !important;
  img {
    width: 150px;
    height: 150px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent;
  }
  figcaption {
    padding: 15px 30px 15px 50px;
    margin: 0 0 0 -60px;
    line-height: 1.25rem;
  }

}



@include media-breakpoint-down(sm) {
  .is-style-icon-with-text.info-icon {
    img {
      width: 160px;
      height: 160px;
    }

    figcaption {
      padding: 10px 17px 10px 30px;
      margin: -10px 0 0 -40px;
      font-size: 13px;
    }
  }
}

/*    END   FIGURE WITH TEXT      */

/*      REFRENCES LIST      */
#refs-list {
  ol {
    padding-left: 20px;
    li {
      font-size: 14px;
    }
  }
}
/*   END   REFRENCES LIST      */

@include media-breakpoint-down(lg) {
  #main-content .wp-block-group:first-of-type {
    padding: 0 0 20px !important;
  }
}


/*      SECTIONS PADDING OVERRIDE           */
#how-it-works,
#treatment,
#about-ibs,
#contact {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}