/** Search form */
.search-form {
  //@extend .form-inline;
}

.search-form label {
  //@extend .form-group;
  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

/** Form Defaults */
input[type=text],
input[type=email],
input[type=phone],
textarea,
select {
  width:100%;
  padding: 16px 25px;
  border-radius: 6px;
  border: none;
  background-color: $white;
  box-shadow: 0 10px 48px rgba(0, 0, 0, 0.06);

  &:focus-visible {
    outline: -webkit-focus-ring-color solid 3px;
  }

  &.wpcf7-not-valid {
    outline: red solid 3px;
  }
}

input[type=submit] {
  padding: 14px;
  min-width: 450px;
  border-radius: 100px;
  border: none;
  font-size: 26px;
  font-weight: 700;
  color: $primary;
  background: $secondary;
  transition: all 0.3s;

  &:hover {
    background: $blue;
    color: $white;
  }
}

.screen-reader-response {
  display: none;
}

.wpcf7-form {
  &[data-status=sent],
  &[data-status=resetting] {
    .form-content {
      display: none;
    }

    .wpcf7-response-output {
      text-align: center;
      padding: 100px 0;
    }
  }

  &[data-status=invalid] {
    .wpcf7-response-output {
      font-weight: 600;
      text-align: center;
      margin: -30px 0 50px;
    }
  }
}

@include media-breakpoint-down(lg) {
  input[type=text],
  input[type=email],
  input[type=phone] {
    margin-bottom: 20px;
  }

  input[type=submit] {
    padding: 10px;
    min-width: 250px;
    font-size: 20px;
   }
}
