/** Define css variables */
$font-adelle: "Adelle", "Courier", serif;

:root {
  --header-height: 90px;

  // margins
  --margin-bottom-18: 18px;
  --margin-bottom-45: 45px;
  --margin-bottom-65: 65px;
  --spacer-110: 110px;
}

@include media-breakpoint-down(xl) {
  :root {
    // margins
    --fw-indents-104: 20px;
    --fw-indents-168: 20px;
    --bs-gutter-x: 20px;
  }
}

@include media-breakpoint-down(lg) {
  :root {
    --spacer-110: 75px;
  }
}

@include media-breakpoint-down(md) {
  :root {
    --spacer-110: 38px;
  }
}

/** Define SVG variables */
$chevron-primary: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-chevron-right fa-w-10 fa-7x'%3E%3Cpath fill='%23285873' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z' class=''%3E%3C/path%3E%3C/svg%3E";
$chevron-primary-hover: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-chevron-right fa-w-10 fa-7x'%3E%3Cpath fill='%2383d1ee' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z' class=''%3E%3C/path%3E%3C/svg%3E";
$chevron-blue: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512' class='svg-inline--fa fa-chevron-right fa-w-10 fa-7x'%3E%3Cpath fill='%230c7ea2' d='M285.476 272.971L91.132 467.314c-9.373 9.373-24.569 9.373-33.941 0l-22.667-22.667c-9.357-9.357-9.375-24.522-.04-33.901L188.505 256 34.484 101.255c-9.335-9.379-9.317-24.544.04-33.901l22.667-22.667c9.373-9.373 24.569-9.373 33.941 0L285.475 239.03c9.373 9.372 9.373 24.568.001 33.941z' class=''%3E%3C/path%3E%3C/svg%3E";


$arrow-right: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.491' height='10.189' viewBox='0 0 14.491 10.189'%3E%3Cg id='Arrow' transform='translate(-2.5 26.789) rotate(-90)'%3E%3Cpath id='Path_5' data-name='Path 5' d='M26.789,11.9l-1.1-1.083L22.5,14V2.5H20.963V14.078L17.7,10.813,16.6,11.9l5.095,5.095Z' transform='translate(0 0)' fill='%232c7c99'/%3E%3C/g%3E%3C/svg%3E";
$arrow-right-hover: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14.491' height='10.189' viewBox='0 0 14.491 10.189'%3E%3Cg id='Arrow' transform='translate(-2.5 26.789) rotate(-90)'%3E%3Cpath id='Path_5' data-name='Path 5' d='M26.789,11.9l-1.1-1.083L22.5,14V2.5H20.963V14.078L17.7,10.813,16.6,11.9l5.095,5.095Z' transform='translate(0 0)' fill='%2347C8F5'/%3E%3C/g%3E%3C/svg%3E";
$chevron-orange: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class='svg-inline--fa fa-chevron-right fa-w-8'%3E%3Cpath fill='%23e67349' d='M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z' class=''%3E%3C/path%3E%3C/svg%3E";
$chevron-white: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='chevron-right' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class='svg-inline--fa fa-chevron-right fa-w-8'%3E%3Cpath fill='%23fff' d='M17.525 36.465l-7.071 7.07c-4.686 4.686-4.686 12.284 0 16.971L205.947 256 10.454 451.494c-4.686 4.686-4.686 12.284 0 16.971l7.071 7.07c4.686 4.686 12.284 4.686 16.97 0l211.051-211.05c4.686-4.686 4.686-12.284 0-16.971L34.495 36.465c-4.686-4.687-12.284-4.687-16.97 0z' class=''%3E%3C/path%3E%3C/svg%3E";
$chevron-down: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='10'%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath clip-rule='evenodd' d='M0-.32h12.519V7H0V-.32z'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23a)' transform='scale(1.3333)'%3E%3Cpath d='M11.988.21l-5.73 5.73L.528.21' stroke='%232C7C99' stroke-width='2.5' fill='none'/%3E%3C/g%3E%3C/svg%3E";
$cross: "data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='times' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 352 512' class='svg-inline--fa fa-times fa-w-11 fa-5x'%3E%3Cpath fill='%23000000' d='M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z' class=''%3E%3C/path%3E%3C/svg%3E";