a.skip-main {
  left: -999px;
  position: absolute;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  z-index: -999;
}

a.skip-main:focus,
a.skip-main:active {
  color: #fff;
  background-color: #000;
  left: auto;
  top: auto;
  width: 30%;
  height: auto;
  overflow: auto;
  margin: 10px 35%;
  padding: 5px;
  border-radius: 15px;
  border: 4px solid $secondary;
  text-align: center;
  font-size: 1.2em;
  z-index: 9999;
}

/* Header container */
.eyebrow-section {
  padding: 10px 0;

  p {
    margin-bottom: 0;
    color: $white;
    font-size: 14px;
    line-height: 17px;
  }
}

header.banner {
  -webkit-box-shadow: 0 0 9px 0 $primary;
  box-shadow: 0 0 9px 0 $primary;

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    background: $white;

    // Site Logo
    .brand {
      margin-right: 80px;
      //margin-left: -30px;

      img,
      svg {
        height: 60px;
        width: auto;
        //transition: all 0.3s ease-in-out;
      }
    }

    .navbar-toggler {
      padding: 0;

      &:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
      }

      .navbar-toggler-icon {
        z-index: 2;
        position: relative;
        height: 30px;
        width: 42px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        span {
          background: $primary;
          width: 42px;
          height: 4px;
          margin-bottom: 9px;
          display: block;
          -webkit-transition: all 0.2s ease-in-out;
          -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &[aria-expanded=true] {
        .navbar-toggler-icon {
          span {
            &:nth-child(1) {
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }

            &:nth-child(2) {
              width: 0;
            }

            &:nth-child(3) {
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
              margin-top: -26px;
            }
          }
        }
      }
    }

    // Navigation
    .nav-primary {
      .menu-main-menu-container {
        ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
          list-style: none;
          margin: 0;
          padding: 0;
          position: relative;

          li {
            position: relative;
            -ms-flex-preferred-size: 12%;
            flex-basis: 12%;
            z-index: 1;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            &::after {
              content: "";
              -webkit-transition: all 0.3s ease-in-out;
              -o-transition: all 0.3s ease-in-out;
              transition: all 0.3s ease-in-out;
              position: absolute;
              left: 0;
              bottom: -2px;
              right: 100%;
              height: 2px;
            }

            a {
              font-weight: 600;
              color: $gray;
              font-size: 16px;
              line-height: 1.3;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -ms-flex-align: center;
              align-items: center;
              text-align: center;
              //transition: all 0.3s ease-in-out;
              //justify-content: flex-end;

              &.active {
                color: $primary;
              }
            }

            &:not(.current-menu-item):hover {
              position: relative;

              &::after {
                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
                height: 2px;
                background: $primary;
              }
            }

            &.current-menu-item {
              border-bottom: 2px solid $primary;

              a {
                color: $primary;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }

  &.sticky-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #fff;

    .eyebrow-section {
      padding: 0;

      .wp-block-search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }

      .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper input[type=search] {
        padding: 0 20px;
      }
    }

    .navbar {
      .brand {
        img,
        svg {
          height: 80px;
        }
      }
    }

    .nav-primary {
      .menu-main-menu-container {
        ul {
          li {
            a {
              font-size: 17px;
              padding: 5px 0.5rem;
            }
          }
        }
      }
    }

    & + div {
      margin-top: 179px;
    }
  }

  #menu-main-menu {
    li {
      a {
        width: 220px;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }

}

@include media-breakpoint-down(md) {
  header.banner {

    #menu-main-menu {
      li {
        a {
          width: 100% !important;
        }
      }
    }

  }
}

@include media-breakpoint-down(sm) {
  header.banner {

    #menu-main-menu {
      li {
        a {
          width: 100%;
        }
      }
    }

  }
}


// END MAIN NAV

.page-title-header {
  margin-bottom: var(--block-vertical-distance-small);

  .back-link,
  .h1,
  h1 {
    color: $white;
    max-width: 70%;
  }

  .back-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

/*      EYEBROW SECTIONS      */
.eyebrow-section.container  {
  padding: 0;
  max-width: 100%;

  a:hover,
  a:focus {
    color: $black;
    text-decoration: underline;
  }

  .learn-more-top-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 5px 0;
    background: $lavender;
    .txt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      font-size: 14px;
    }

    .link-div {
      margin: 0 0 0 6px;
      a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
      }
    }
  }

  .main-site-links-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px 0;
    background: #E1E6EF;

    .btns-left-side {
      width: 48%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .stay-connected-btn {
        margin: 0 12px 0 0;

        a {
          display: block;
          width: 100%;
          background: $primary;
          padding: 5px 20px;
          color: $white;
          border-radius: 25px;
          font-size: 14px;
          font-weight: 500;
          text-align: center;

          &:hover {
            text-decoration: none;
          }
        }

      }

      .survey-btn {

        a {
          display: block;
          width: 100%;
          background: $secondary;
          padding: 5px 20px;
          color: $black;
          border-radius: 25px;
          font-size: 14px;
          font-weight: 500;
          text-align: center;

          &:hover {
            text-decoration: none;
          }
        }

      }

    }

    .links-right-side {
      width: 48%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      .secondary-top-links {
        a {
          font-size: 14px;
        }
      }
    }

  }

}

@include media-breakpoint-down(md) {

  .main-site-links-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;

    .btns-left-side {
      width: 100% !important;
      -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
      justify-content: space-between !important;
      .stay-connected-btn {
        width: 33% !important;
        a {
          padding: 5px 20px !important;
          width: 100% !important;
          border-radius: 25px 25px 0 0;
        }
      }

      .survey-btn {
        width: 33% !important;
        a {
          padding: 5px 20px !important;
          width: 100% !important;
          border-radius: 0 0 25px 25px;
        }

      }
    }

    .links-right-side {
      width: 90% !important;
    }

  }

}

@include media-breakpoint-down(sm)  {

  .learn-more-top-section {
    .link-div,
    .txt {
      font-size: 13px !important;
    }
  }

  .main-site-links-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    padding: 12px 0 20px !important;

    .btns-left-side {
      width: 100% !important;
      -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
      justify-content: space-between !important;
      position: absolute;
      bottom: -20px;
      z-index: 100;

      .stay-connected-btn {
        width: 47% !important;

        a {
          width: 100%;
          border-radius: 0 25px 25px 0 !important;
          font-size: 13px !important;
        }
      }

      .survey-btn {
        width: 47% !important;
        a {
          width: 100%;
          border-radius:  25px 0 0 25px !important;
          font-size: 13px !important;
        }

      }

    }

    .links-right-side {
      width: 100% !important;
      -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
      order: -1;
      -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
      .secondary-top-links {
        margin-left: 0 !important;
        width: 40% !important;
        text-align: center;
        a {
          font-size: 10px !important;
        }
      }
    }

  }
  header {
    .container {
      padding: 0 !important;
      #site-navbar {
        padding: 17px 12px 0 !important;
      }
    }
  }
}


/*   END   EYEBROW SECTIONS      */

@include media-breakpoint-down(xxxl) {
  header .navbar .nav-primary .menu-main-menu-container ul li a {
    padding: 0.5rem 0.5rem;
  }
}

@include media-breakpoint-down(xxl) {
  header .navbar .nav-primary .menu-main-menu-container ul li a {
    font-size: 23px;
    padding: 0.5rem 0.28rem;
  }
}

@include media-breakpoint-down(xl) {

}

@include media-breakpoint-down(xl) {
  /*
  .eyebrow-section {
    padding: 0;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);

    .wp-block-buttons {
      gap: 0;

      .wp-block-button.is-style-simple-link {
        margin-right: 15px;
        line-height: 1;
        font-size: 12px;

        a {
          font-size: 12px;
        }
      }
    }

    .wp-block-group {
      .wp-block-group__inner-container {
        .wp-block-columns {
          flex-wrap: wrap !important;
          gap: 0;

          .wp-block-column {
            flex-basis: 100% !important;
            padding: 15px 0;

            p {
              font-size: 12px;
            }

            &:first-child {
              position: relative;
              padding: 12px 0;

              p {
                font-size: 9px;
                color: $black;
                z-index: 1;
                position: relative;
              }

              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 50%;
                width: 100vw;
                height: 100%;
                margin-left: -50vw;
                background: $blue-light;
                z-index: 0;
              }
            }
          }
        }
      }
    }

    p {
      margin-bottom: 0;
      color: $white;
      font-size: 14px;
      line-height: 17px;
    }
  }
  */

  header.banner {
    .navbar {
      // Site Logo
      .brand {
        margin-left: 0;

        img,
        svg {
          height: 85px;
        }
      }

      .navbar-toggler {
        padding: 0;
      }

      // Navigation
      .nav-primary {
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100vw;
        margin-left: -50vw;
        background-color: $blue-light;
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        z-index: 3;
        -webkit-box-shadow: 0 0 7px 0 $primary inset;
        box-shadow: 0 0 7px 0 $primary inset;

        .menu-main-menu-container {
          ul {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            padding: 5px 0 20px;

            li {
              -ms-flex-preferred-size: 100%;
              flex-basis: 100%;

              a {
                font-size: 22px;
                padding: 20px 0;
                width: 100%;
                line-height: 1;
                text-align: left;

                &.active {
                  color: $primary;
                }
              }

              &:not(.current-menu-item):hover {
                position: relative;

                &::after {
                  display: none;
                }
              }

              &.current-menu-item {
                border-bottom: 2px solid $primary;

                a {
                  color: $primary;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }

    &.sticky-header {
      .eyebrow-section {
        /*
        padding-right: var(--bs-gutter-x, 0.75rem);
        padding-left: var(--bs-gutter-x, 0.75rem);
        */

        .wp-block-group .wp-block-group__inner-container .wp-block-columns .wp-block-column {
          padding: 3px 0;

          &:first-child {
            padding: 0;
          }

          .wp-block-search.wp-block-search__button-inside .wp-block-search__inside-wrapper input[type=search] {
            padding: 2px 4px;
          }
        }
      }

      .navbar {
        .brand {
          img,
          svg {
            height: 60px;
          }
        }
      }

      & + div {
        margin-top: 179px;
      }
    }
  }

  .admin-bar {
    header.banner {
      top: 0;
    }
  }
}