.search-results {
  & > .wrap {
    padding: 0;
  }
}

@include media-breakpoint-down(lg) {

}
/*DELETE WHEN NOT NECESSARY*/
#quizForm1 {
  .qsm-before-message {
    display: flex;
    justify-content: space-between;
  }
}
/*DELETE ABOVE WHEN NOT NECESSARY*/

/*      HOME PAGE       */
#hp_hero_section {
  .wp-container-4 {
    position: absolute;
    bottom: 20%;
    right: -55%;
  }
}

#hp_hero_section_mobi {
  .wp-container-2 {
    position: absolute;
    top: 8%;
    left: 15%;
  }
}

/* TITLES WITH LINES CLASS */
/*    title-w-lines   */


// Home page sections
#phone-app-section {
  margin-bottom: 0;
}

#brain-connection {
  figure {
    margin-bottom: 0;
    &:before,
    &:after {
      background: #fff;
    }
  }

}

@include media-breakpoint-down(sm) {

}

/*   END   HOME PAGE       */
