.search-results {
  & > .wrap {
    padding: 0;
  }
}

@include media-breakpoint-down(lg) {

}

/*      HOME PAGE       */
#hp_hero_section {
  .wp-container-4 {
    position: absolute;
    bottom: 20%;
    right: -55%;
  }
}

#hp_hero_section_mobi {
  .wp-container-2 {
    position: absolute;
    top: 8%;
    left: 15%;
  }
}

/* TITLES WITH LINES CLASS */
/*    title-w-lines   */


// Home page sections
#phone-app-section {
  margin-bottom: 0;
  figure {
    margin-bottom: 0;
  }
}

#brain-connection {
  figure {
    &:before,
    &:after {
      background: #fff;
    }
  }

}

#for-change {
  .wp-block-column:last-child {
    .wp-block-buttons {
      margin: -42px 0 0;
    }
  }
}

#hp-cards-section {
  .wp-block-column:nth-child(odd) {
    .is-style-rounded {
      border: 2px solid #7A95BF;
    }
  }

  .wp-block-column:nth-child(even) {
    .is-style-rounded {
      border: 2px solid #B7C3DF;
    }
    .wp-block-buttons {
      a {
        color: #333;
        &:hover {
          background: #6fd3c8 !important;
          color: #333 !important;
        }
      }
    }

  }
}

@include media-breakpoint-down(sm) {

}

/*   END   HOME PAGE       */

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`

      /*        BRAIN-GUT-CONNECTION PAGE           */

#brain-gut-hero {
  background-image: url(/wp-content/uploads/2022/10/brainGut_hero_sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: initial;
}

#restoring-brain-gut-section {
  .wp-block-pullquote {
    &:before,
    &:after {
      background: #fff;
    }
  }

  .brain-gut-section-first-para {
    margin-bottom: 0;
  }

  .brain-gut-section-second-para {
    float: left;
    width: 50%;
  }

  .brain-gut-section-img {
    float: right;
    width: 48%;
    margin: 20px 0 0;
  }
  h5 {
    text-transform: uppercase;
  }
}

#brain-gut-cards-section {
  .wp-block-column:nth-child(odd) {
    .is-style-rounded {
      border: 2px solid #7A95BF;
    }
  }
  .wp-block-column:nth-child(even) {
    .is-style-rounded {
      border: 2px solid #B7C3DF;
      .wp-block-button__link {
        background-color: #B7C3DF;
        color: #333;
      }
    }
  }

}

.question-section {
  .wp-block-column {
    display: flex;
    justify-content: center;
    .question-block {
      position: relative;
      margin: 0 40px 0 0;
      &:before {
        content: '';
        display: block;
        width: 92px;
        height: 105px;
        position: absolute;
        top: -10px;
        left: -110px;
        background: url("/wp-content/uploads/2022/10/Icon_question.png") no-repeat center center;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .question-section {
    .wp-block-column {
      flex-direction: column;
      align-items: center;
      .question-block {
        margin: 0 -130px 60px 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .question-section {
    .wp-block-column {
      flex-direction: column;
      align-items: center;
      .question-block {
        margin: 0 -130px 60px 0;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  #brain-gut-hero {
    background-image: url(/wp-content/uploads/2022/10/Brain-Gut_Hero_mobi.png);
  }

  #restoring-brain-gut-section {

    .brain-gut-section-first-para {
      margin-bottom: 0;
    }

    .brain-gut-section-second-para {
      float: none;
      width: 100%;
    }

    .brain-gut-section-img {
      float: none;
      width: 100%;
      margin: 40px auto 0;
      img {
        width: 100%;
      }
    }
  }

}
/*    END    BRAIN-GUT-CONNECTION PAGE           */

/*      ABOUT REGULORA PAGE     */
#about_hero_section {
  .wp-container-4 {
    position: absolute;
    bottom: 20%;
    right: -55%;
  }
}

@include media-breakpoint-down(md) {
  #about_hero_section {
    .wp-container-4 {
      position: absolute;
      bottom: 20%;
      right: -55%;
    }
  }
}

#about_hero_section_mobi {
  .wp-container-2 {
    position: absolute;
    top: 8%;
    left: 15%;
  }
}

#how-it-works-section {
  .wp-block-column {
    .how-title,
    .has-white-color {
      width: 70%;
      margin: 0 auto;
    }
    .how-icons-columns {
      width: 75%;
      margin: 0 auto;
      .wp-block-column p:last-child {
        font-size: 16px;
      }
    }
  }
}

#about-testimonials-section {
  background-color: #000;
  #testimonials-container {
    width: 80%;
    margin: 0 auto;
    .testimonialSlider {

      .wp-block-testimonials-slider.view-default {
        .slider-container {
          .slider-inner {

            .slide-item {
              margin-bottom: 0;
              padding: 40px 20px;
              min-height: 328px;
            }

            .tns-nav {
              margin-top: 0;
            }
          }
        }
      }

      #tns1-mw {
        height: auto !important;
      }
    }
    .about-disclaimer-block,
    .testimonials-left_side-title {
      color: #fff !important
    }
  }
  #testimonials-left-side {
    background: url("/wp-content/uploads/2022/10/Reviews_BG_2.png") no-repeat center center !important;
    background-size: cover !important;
    h3, p {
      width: 90%;
      margin: 0 auto;
    }
    p {
      padding: 30px 0 0 30px;
    }
  }
}

@include media-breakpoint-down(md) {
  #about-testimonials-section {
    #testimonials-container {
      .testimonialSlider {

        .wp-block-testimonials-slider.view-default {
          .slider-container {
            .slider-inner {

              .slide-item {

              }

              .tns-nav {

              }
            }
          }
        }
      }
    }

    #testimonials-left-side {
      height: 760px;
      h3, p {
        width: 80%;
        margin: 0 auto;
      }
      p {
        padding: 30px 0 0 30px;
      }
    }
  }

}

@include media-breakpoint-down(sm) {
  #how-it-works-section {
    .wp-block-column {
      .how-title,
      .has-white-color,
      .how-icons-columns {
        width: 100%;
      }
    }
  }

  #about-testimonials-section {
    #testimonials-container {
      .testimonialSlider {

        .wp-block-testimonials-slider.view-default {
          .slider-container {
            .slider-inner {

              .slide-item {

              }

              .tns-nav {

              }
            }
          }
        }

      }
    }

    #testimonials-left-side {
      height: 780px;
      background: url("/wp-content/uploads/2022/10/Patient_Review_mobi_2.png") no-repeat center center !important;
      h3, p {
        width: 80%;
        margin: 0 auto;
      }
      p {
        padding: 30px 0 0 30px;
      }
    }
  }

}

/*   END   ABOUT REGULORA PAGE     */


      /*      SURVEY PAGE           */
.smcx-widget.smcx-embed {
  max-width: 100% !important;
  border: none !important;

  .smcx-iframe-container {
    max-width: 100% !important;
  }
}
      /*   END   SURVEY PAGE           */
