.search-results {
  & > .wrap {
    padding: 0;
  }
}

@include media-breakpoint-down(lg) {

}

#quizForm1 {
  .qsm-before-message {
    display: flex;
    justify-content: space-between;
  }
}

#hp_hero_section {
  .wp-container-4 {
    position: absolute;
    bottom: 20%;
    right: -55%;
  }
}