.search-results {
  & > .wrap {
    padding: 0;
  }
}

@include media-breakpoint-down(lg) {

}

/*      HOME PAGE       */
/*
#hp_hero_section {
  .wp-container-4 {
    position: absolute;
    bottom: 20%;
    right: -55%;
  }
}
*/

/*
#hp_hero_section_mobi {
  .wp-container-2 {
    position: absolute;
    top: 8%;
    left: 15%;
  }
}
*/

/* TITLES WITH LINES CLASS */
/*    title-w-lines   */


// Home page sections
#phone-app-section {
  margin-bottom: 0;
  figure {
    margin-bottom: 0;
  }
  .wp-block-buttons {
    .wp-block-button {
      a {
        font-weight: 600;
      }
    }
  }
}

#brain-gut-connection-section {
  #connection-title {
    p {
      font-weight: 600;
    }
  }

  #pain-symptom-section {
    .wp-block-column {
      padding: 0 20px;
    }
  }

}

#for-change {
  .wp-block-column:last-child {
    .wp-block-buttons {
      margin: -42px 0 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

  .for-change-left-side,
  .for-change-right-side {
    padding: 0 20px;
  }
  .for-change-right-side {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

#hp-cards-section {

  h4 {
    text-transform: uppercase;
  }
  .wp-block-column:nth-child(odd) {
    .is-style-rounded {
      border: 2px solid #7A95BF;
    }
  }

  .wp-block-column:nth-child(even) {
    .is-style-rounded {
      border: 2px solid #B7C3DF;
    }
    .wp-block-buttons {
      a {
        color: #333;
        &:hover {
          background: #6fd3c8 !important;
          color: #333 !important;
        }
      }
    }

  }
}

#dt-pain {
  position: relative;

  .bow {
    //content: '';
    display: block;
    left: -296%;
    top: 10%;
    position: absolute;
    height: 2px;
    width: 250%;
    background: #EFCE1D;
  }
  .aft {
    //content: '';
    display: block;
    right: 0;
    bottom: 10%;
    position: absolute;
    height: 2px;
    width: 0;
    background: #EFCE1D;
  }

  .downw {
    display: block;
    position: absolute;
    bottom: 10%;
    width: 2px;
    background: #EFCE1D;
  }
}

@include media-breakpoint-down(md) {

  #for-change {
    .for-change-right-side {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }
  }

}

@include media-breakpoint-down(sm) {
  #phone-app-section {
    position: relative;
    margin: 0 0 40px;

    .wp-block-buttons {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      #learn-about-cta {
        position: absolute;
        bottom: -24px;

        a {
          padding: 10px 90px !important;
        }
      }

    }
  }

  #for-change {

    .wp-block-column:last-child {
      .wp-block-buttons {
        margin: -20px 0 0;
      }
    }

    .for-change-right-side {
      margin: 0 -10%;
      padding: 40px 20px;
      background: $light-green;
    }
  }

  #brain-gut-connection-mobi-section {
    .pain-symptom,
    .gut-connection-txt,
    .gut-connection-txt-2 {
      padding: 0 30px;
    }
  }

  #brain-gut-connection-section {
    #pain-symptom-section {
      .wp-block-column {
        padding: 0 20px;
      }

    }

  }

}

/*   END   HOME PAGE       */

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~`

/*        BRAIN-GUT-CONNECTION PAGE           */

#brain-gut-hero {
  background-image: url(/wp-content/uploads/2022/10/brainGut_hero_sm.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: initial;
}

#restoring-brain-gut-section {
  .wp-block-pullquote {
    &:before,
    &:after {
      background: #fff;
    }
  }

  .brain-gut-section-first-para {
    margin-bottom: 0;
  }

  .brain-gut-section-second-para {
    float: left;
    width: 50%;
  }

  #restore-connection-img {
    float: right;
    width: 300px;
    margin: 20px 0 0;
  }

  #restore-brain_gut-section {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
}

#brain-gut-cards-section, // possibly delete this line later
.cards_3-section  {
  .wp-block-column:nth-child(odd) {
    .is-style-rounded {
      border: 2px solid #7A95BF;
    }
  }
  .wp-block-column:nth-child(even) {
    .is-style-rounded {
      border: 2px solid #B7C3DF;
      .wp-block-button__link {
        background-color: #B7C3DF;
        color: #333;
      }
    }
  }

}

.question-section {
  .wp-block-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    .question-block {
      position: relative;
      margin: 0 40px 0 0;
      &:before {
        content: '';
        display: block;
        width: 92px;
        height: 105px;
        position: absolute;
        top: -10px;
        left: -110px;
        background: url("/wp-content/uploads/2022/10/Icon_question.png") no-repeat center center;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  #restoring-brain-gut-section {

    .brain-gut-section-first-para {
      /*margin-bottom: 0;*/
    }

    .brain-gut-section-second-para {
      float: none !important;
      width: 100% !important;
    }

    #restore-connection-img {
      float: none;
      width: 300px;
      margin: 20px auto 0;
    }
  }

}

@include media-breakpoint-down(md) {
  #brain-gut-hero {
    .bgc-page_hero_right-side {
      p {
        color: $black;
      }
    }
  }


  #restoring-brain-gut-section {

    .brain-gut-section-first-para {
      /*margin-bottom: 0;*/
    }

    .brain-gut-section-second-para {
      float: none !important;
      width: 100% !important;
    }

    #restore-connection-img {
      float: none;
      width: 300px;
      margin: 20px auto 0;
    }
  }

}

@include media-breakpoint-down(sm) {
  #brain-gut-hero {
    background-image: url(/wp-content/uploads/2022/10/Brain-Gut_Hero_mobi.png);
    .bgc-page_hero_right-side {
      p {
        color: $black;
      }
    }
  }

  #restoring-brain-gut-section {

    .brain-gut-section-first-para {
      margin-bottom: 0;
    }

    .brain-gut-section-second-para {
      float: none;
      width: 100%;
    }

    #restore-connection-img {
      float: none;
      width: 100%;
      margin: 40px auto 0;
      img {
        width: 100%;
      }
    }
  }

}
/*    END    BRAIN-GUT-CONNECTION PAGE           */

/*      ABOUT REGULORA PAGE     */
#about_hero_section {
  .about-hero-sub_title {
    position: absolute;
    bottom: 60px;
    right: -50%;
  }
}

@include media-breakpoint-down(md) {
  #about_hero_section {
    .wp-container-4 {
      position: absolute;
      bottom: 20%;
      right: -55%;
    }
  }
}

#about_hero_section_mobi {
  .wp-container-2 {
    position: absolute;
    top: 8%;
    left: 0;
  }
}

#how-it-works-section {
  .wp-block-column {
    .how-title,
    .has-white-color {
      width: 70%;
      margin: 0 auto;
    }
    .how-icons-columns {
      width: 75%;
      margin: 0 auto;
      .wp-block-column p:last-child {
        font-size: 16px;
      }
    }
  }
}

#about-testimonials-section {
  background-color: #000;

  #testimonials-container {
    width: 80%;
    margin: 0 auto;

    .testimonialSlider {

      .wp-block-testimonials-slider.view-default {
        .slider-container {
          .slider-inner {
            #tns1-iw {
              border-radius: 10px;
            }
            #tns1-ow {
              max-width: 80% !important;
            }

            .slide-item {
              border: none;
              border-radius: 10px;
              margin-bottom: 0;
              padding: 40px;
              height: auto;
            }

            .tns-nav {
              margin-top: 30px;
              button {
                width: 20px;
                height: 20px;
                background: $secondary;
                &.tns-nav-active {
                  background: $light-green;
                }
              }
            }
          }
        }
      }

      #tns1-mw {
        height: auto !important;
      }
    }

    .about-disclaimer-block,
    .testimonials-left_side-title {
      color: #fff !important
    }
    .about-disclaimer-block {
      width: 80%;
      margin: 0 auto;
    }
  }

  #testimonials-left-side {
    background: url("/wp-content/uploads/2022/11/testimonial_BG_new.png") no-repeat center center !important;
    background-size: cover !important;

    h3, p {
      width: 90%;
      margin: 0 auto;
    }

    p {
      padding: 30px 0 0 30px;
    }
  }
}

#about-cards-section {
  width: 80% !important;
  margin: 0 auto;
  .wp-block-group__inner-container {
    .wp-block-column {
      .p-block-image {
        margin: 0;
      }
      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-down(md) {
  #about-testimonials-section {
    #testimonials-container {
      .testimonialSlider {

        .wp-block-testimonials-slider.view-default {
          .slider-container {
            .slider-inner {

              .slide-item {

              }

              .tns-nav {
                button {
                  width: 20px;
                  height: 20px;
                }
              }
            }
          }
        }
      }
    }

    #testimonials-left-side {
      height: 760px !important;
      h3, p {
        width: 80%;
        margin: 0 auto;
      }
      p {
        padding: 30px 0 0 30px;
      }
    }
  }

}

@include media-breakpoint-down(sm) {
  #how-it-works-section {
    .wp-block-column {
      .how-title,
      .has-white-color,
      .how-icons-columns {
        width: 100%;
      }
    }
  }

  #about-testimonials-section {
    #testimonials-container {
      .testimonialSlider {

        .wp-block-testimonials-slider.view-default {
          .slider-container {
            .slider-inner {
              #tns1-ow {
                max-width: 70%;
              }

              .slide-item {
                /*height: 632px;*/
                height: auto;
              }

              .tns-nav {
                button {
                  width: 20px;
                  height: 20px;
                }
              }

              .controll-buttons {
                .prev-but-place {
                  position: absolute;
                  top: -500px;
                  left: -188px;
                }

                .next-but-place {
                  position: absolute;
                  top: -500px;
                  right: -188px;
                }
              }
            }
          }
        }

      }
    }

    #testimonials-left-side {
      height: 780px;
      background: url("/wp-content/uploads/2022/10/Patient_Review_mobi_2.png") no-repeat center center !important;
      background-size: contain !important;
      h3, p {
        width: 80%;
        margin: 0 auto;
      }
      p {
        padding: 30px 0 0 30px;
      }
    }

    #testimonials-right-side {
      margin: -192px 0 0;
    }
  }

}

#pdt-as-abc-section {
  .pdt-as-abc-left,
  .pdt-as-abc-right {
    padding: 0 20px;
  }
  .pdt-as-abc-right {
    #brain-gut-section-img img {
      width: 100%;
    }
  }
}
@include media-breakpoint-down(sm) {
  #pdt-as-abc-section {
    .pdt-as-abc-left,
    .pdt-as-abc-right {
      padding: 0;
    }
  }
}

/*   END   ABOUT REGULORA PAGE     */

/*
      GET REGULORA PAGE
*/
#get-regulora_hero_section {
  height: 660px;
  background: url(/wp-content/uploads/2022/10/hero_get_regulora.png) no-repeat center center;
  background-size: cover;

  .wp-block-group__inner-container {
    height: 100%;
    position: relative;

    .wp-block-columns {
      position: absolute;
      top: 10%;
    }
  }
}

@include media-breakpoint-down(sm) {
  #get-regulora_hero_section {
    height: 600px;
    background: url(/wp-content/uploads/2022/10/hero_get_regulora_mobi.png) no-repeat center center;
    background-size: cover;

    .wp-block-group__inner-container {
      .wp-block-columns {
        top: 4%;
      }
    }

  }

}


/*    END GET REGULORA PAGE     */

/*
SUPPORT AND RESOURCES PAGE
*/

#support-get-faqs-section {
  background: #000;
  margin-bottom: 0;
  .wp-block-columns {
    .wp-block-column:first-child {
      .support-black-mid_section_title {
        color: $white;
      }
    }

    .wp-block-column:last-child {
      .wp-block-image {
        margin: 0;
        figure {
          margin: 0;
        }

      }
    }
  }
}

#support_living-with-ibs_section {
  min-height: 600px;
  background: url("/wp-content/uploads/2022/10/support_living_section_BG.png") no-repeat center center;
  background-size: cover;

  h2.lines-v {
    word-break: keep-all;
  }
  .wp-block-column:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    #living-with-left-side {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
  }
}

#faq-section {
  margin-bottom: 0 !important;
  padding-bottom: 60px;
  .faq-subsection-header {
    margin: 50px 0 25px 10px;
  }
}

#support-info-about-you {
  #hbsp-form-container {
    .hbsp-form-right-side {
      figure {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
    .hbsp-form-left-side,
    .hbsp-form-right-side {
      padding: 0 20px;
    }
  }
}
@include media-breakpoint-down(sm) {
  #support-info-about-you {
    #hbsp-form-container {
      .hbsp-form-left-side,
      .hbsp-form-right-side {
        padding: 0;
      }
      .hbsp-form-right-side {
        order: -1;
        margin: 0 0 40px;
      }
    }
  }
}

.videos-holders {
  .vidyard-player-container {
    width: 98% !important;
  }
}

#support-social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@include media-breakpoint-down(md) {
  #support-get-faqs-section {
    .percent-60 {
      width: 100% !important;
      .wp-block-column:first-child {
        padding: 50px 0 0;
      }

      .wp-block-column:last-child {
        .wp-block-image {
          margin: 0;

          figure {
            margin: 0;
          }

        }
      }
    }
  }

  #support_living-with-ibs_section {
    height: 820px !important;
    .custom-mobi-style {
      width: 100% !important;
      h5 {
        font-size: 24px !important;
      }
    }

  }

}

@include media-breakpoint-down(sm) {
  #support-get-faqs-section {
    .wp-block-columns {
      width: 100% !important;

      .wp-block-column:first-child {
        padding: 50px 0 0;
      }

      .wp-block-column:last-child {
        .wp-block-image {
          margin: 0;

          figure {
            margin: 0;
          }

        }
      }
    }
  }

  #faq-section {
    padding: 20px 12px 60px !important;

    .faq-subsection-header {
      margin: 30px 0 25px 10px;
    }
  }

  #support_living-with-ibs_section {
    height: 980px !important;
    padding: 0 40px;
    .custom-mobi-style {
      width: 100% !important;
      h5 {
        font-size: 24px !important;
      }
    }

  }

}

/*  END SUPPORT AND RESOURCES PAGE      */


/*      SURVEY PAGE           */
.smcx-widget.smcx-embed {
  max-width: 100% !important;
  border: none !important;

  .smcx-iframe-container {
    max-width: 100% !important;
  }
}
/*   END   SURVEY PAGE           */
