// NEW question/FAQ link block
.question-section_new {
  width: 70%;
  margin: 0 auto;

  .question-mark-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    figure {
      margin: 0 20px 0 0;
    }

    p {
      margin: 0;
      text-transform: uppercase;
    }

  }

  .faq-column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    .wp-block-buttons {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
    }
  }
}

@include media-breakpoint-down(md) {
  .question-section_new {
    width: 70%;
    margin: 0 auto;

    .question-mark-column {

      figure {
        margin: 0 0 20px;
      }

      p {

      }

    }

    .faq-column {
      justify-content: center;
      .wp-block-buttons {

      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .question-section_new {
    width: 80%;
    margin: 0 auto;

    .question-mark-column {

      figure {
        width: 220px;
        margin: 10px 20px 0 0;
      }

      p {

      }

    }

    .faq-column {
      justify-content: center;
      .wp-block-buttons {

      }
    }
  }
}

