/* Lines animation */
.with-lines {
  position: relative;

  &::before {
    content: ' ';
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: calc((100vw - var(--main-width)) / 2);
    background: $primary;
    border-radius: 0 10px 10px 0;
  }

  &::after {
    content: ' ';
    height: 8px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    left: calc((100vw - var(--main-width)) / 2);
    background: $primary-light;
    border-radius: 10px 0 0 10px;
  }

  &.animate {
    &::before {
      right: 100vw;
      transition: all 1.3s ease-in-out;
    }

    &::after {
      left: 100vw;
      transition: all 1.3s ease-in-out;
    }

    &.action {
      &::before {
        right: calc((100vw - var(--main-width)) / 2);
      }

      &::after {
        left: calc((100vw - var(--main-width)) / 2);
      }
    }
  }

  &.short {
    &::before {
      right: 35%;
      border-radius: 10px;
    }

    &::after {
      left: 35%;
      border-radius: 10px;
    }

    &.animate {
      &.action {
        &::before {
          right: 35%;
        }

        &::after {
          left: 35%;
        }
      }
    }
  }

  &.secondary-color {
    &::before {
      background: $secondary;
    }

    &::after {
      background: $secondary;
    }
  }
}

#brain-gut-section-img {
  position: relative;

  &::before {
    content: ' ';
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
    right: calc((100vw - var(--main-width)) / 2);
    background: $secondary;
    border-radius: 0 10px 10px 0;
  }

  &::after {
    content: ' ';
    height: 8px;
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    left: calc((100vw - var(--main-width)) / 2);
    background: $secondary;
    border-radius: 10px 0 0 10px;
  }

  &.animate {
    &::before {
      right: 100vw;
      transition: all 1.3s ease-in-out;
    }

    &::after {
      left: 100vw;
      transition: all 1.3s ease-in-out;
    }

    &.action {
      &::before {
        right: calc((100vw - var(--main-width)) / 2);
      }

      &::after {
        left: calc((100vw - var(--main-width)) / 2);
      }
    }
  }

  /*
  &.short {
    &::before {
      right: 35%;
      border-radius: 10px;
    }

    &::after {
      left: 35%;
      border-radius: 10px;
    }

    &.animate {
      &.action {
        &::before {
          right: 35%;
        }

        &::after {
          left: 35%;
        }
      }
    }
  }

  &.secondary-color {
    &::before {
      background: $secondary;
    }

    &::after {
      background: $secondary;
    }
  }
  */
}

#restore-connection-img {
  position: relative;

  &::before {
    content: ' ';
    height: 8px;
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
    right: calc((100vw - var(--main-width)) / 2);
    background: $yellow;
    border-radius: 0 10px 10px 0;
  }

  &::after {
    content: ' ';
    height: 8px;
    display: block;
    position: absolute;
    right: 0;
    bottom: -5px;
    left: calc((100vw - var(--main-width)) / 2);
    background: $yellow;
    border-radius: 10px 0 0 10px;
  }

}


.line-animation {
  display: inline;
  margin: 0;

  &:after {
    content: "";
    display: block;
    position: relative;
  }
}

.active-line {
  display: block;
  height: 5px;
  position: absolute;
  background: $secondary;
  transition: left 1.5s ease-in-out, right 1.5s ease-in-out;

  &.blue-light {
    background: $blue-light;
  }

  &.primary {
    background: $primary;
  }

  &.primary-light {
    background: $light-green;
  }
  &.secondary {
    background: $secondary;
  }

  &.transparent {
    background: transparent;
  }

  &.on-the-left {
    border-radius: 0 15px 15px 0;
  }

  &.on-the-right {
    border-radius: 15px 0 0 15px;
  }

  &:not(.action) {
    &.on-the-left {
      right: 100vw !important;
    }

    &.on-the-right {
      left: 100vw !important;
    }
  }
}

/*
// Home Page
@include media-breakpoint-down(sm) {
  .page-homepage-data {
    span.active-line.on-the-right {
      margin: 22px 0 0;
    }
  }
}
*/

.infographic {
  .anchor-target {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    display: inline-block;
    z-index: 1;

    & + p {
      opacity: 0;
      transition: all 0.5s ease-in-out;
    }

    &.do-magic {
      opacity: 1;

      & + p {
        opacity: 1;
      }
    }
  }

  .connection-line {
    background: $secondary;
    position: absolute;
    transition-property: top, left, right, bottom;
    transition-timing-function: linear;

    &.horizontal {
      height: 3px;
    }

    &.vertical {
      width: 3px;
    }
  }
}

// Animations
.fadeIn {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;

  &.action {
    opacity: 1;
  }
}

.is-root-container {
  .fadeIn {
    opacity: 1 !important;
  }

  .infographic {
    .anchor-target {
      opacity: 1;

      & + p {
        opacity: 1;
      }
    }

    .connection-line {
      transition-property: none;
    }
  }
}

@include media-breakpoint-down(xl) {
  .active-line {
    height: 3px;
  }
}

    /*    ANIMATION LINES         */

//HOME PAGE
.dt-pain {
  position: relative;

  .bow {
    display: block;
    left: -298%;
    top: 10%;
    position: absolute;
    height: 2px;
    width: 250%;
    background: #EFCE1D;
  }
  .aft {
    display: block;
    transform: rotateX(180deg);
    right: 0;
    bottom: 10%;
    position: absolute;
    height: 2px;
    width: 0;
    background: #EFCE1D;
  }

  .downw {
    display: block;
    position: absolute;
    bottom: 10%;
    right: -10px;
    width: 2px;
    background: #EFCE1D;
  }
}

.dt-pain-mobi {
  position: relative;

  .bow {
    display: block;
    left: -250%;
    top: 10%;
    position: absolute;
    height: 2px;
    width: 250%;
    background: #EFCE1D;
  }
  .aft {
    display: block;
    transform: rotateX(180deg);
    right: 0;
    bottom: 10%;
    position: absolute;
    height: 2px;
    width: 0;
    background: #EFCE1D;
  }

  .downw {
    display: block;
    position: absolute;
    bottom: 10%;
    right: -10px;
    width: 2px;
    background: #EFCE1D;
  }
}

    /*    BRAIN-GUT CONNECTION      */
#ten-15-years-mobi {
  position: relative;

  .lft-line {
    width: 158px;
    height: 2px;
    background: #EFCE1D;
    position: absolute;
    //left: calc(0% - 280px);
    top: 18%;
  }

  .rt-line {
    width: 1px;
    height: 2px;
    background: #EFCE1D;
    position: absolute;
    bottom: 10%;
  }

}

/*    BRAIN-GUT CONNECTION   DESKTOP   */
#bgc-percent {
  position: relative;

  .lft-line {
    position: absolute;
    height: 2px;
    top: 18%;
    //left: - calc((100vw - var(--main-width)) / 2);
    left: - calc(100vw - (var(--main-width) + 290px * 3));
    background: #EFCE1D;
  }

  .rt-line {
    position: absolute;
    height: 2px;
    bottom: 10%;
    background: #EFCE1D;

  }

  .downL {
    position: absolute;
    width: 2px;
    top: 10%;
    background: #EFCE1D;
  }

}
