#brain-gut-hero {
  .bgc-page_hero_right-side {
    position: absolute;
    bottom: 35%;
    right: -70%;
  }
}

#get-regulora_hero_section {
  .get-reg-hero-title {

  }
}


#hp_hero_section_mobi,
#about_hero_section_mobi,
#support-hero-section-mobi {
display: none;
}

#support-hero-section {
  .line-animation {
    font-size: 48px;
  }
}

@include media-breakpoint-down(sm) {
  #hp_hero_section,
  #about_hero_section,
  #support-hero-section {
    display: none !important;
  }

  #hp_hero_section_mobi,
  #about_hero_section_mobi,
  #support-hero-section-mobi {
    display: block !important;
  }


}


@include media-breakpoint-down(sm) {}